@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #454545;
}
#formId {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: auto;
    gap: 20px;
}
#formId h1 {
    color: #fff;
}
.roomCode {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.create-btn {
    width: 50%;
}
.authentication *{
    font-size: 15px;
}
.authentication label {
    color: #fff;
    font-size: 20px;
}
.roomCode * {
    margin: 0 2vh;
    font-size: 15px;
}
#formId input[type=text] {
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 10px;
}
#formId button {
    padding: 5px 10px;
    font-size: 15px;
    color: #fff;
    background-color: #460087;
    border: 1px solid #460087;
    border-radius: 10px;
}
ul li {
    color: #ff8282;
}

.message-box {
    border: 1px solid rgb(109, 109, 109);
    border-radius: 10px;
    background-color: #454545;
    height: 80vh;
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: stretch;
}
.messages {
    overflow-y: scroll;
    flex: 1;
    width: 100%;
    padding: 10px;
}
.text {
    color: #fff;
}
.messages::-webkit-scrollbar {
    width: 10px;
    background-color: aqua;
}
.messages::-webkit-scrollbar-button {
    background-color: aquamarine;
}
.inputs {
    position: absolute;
    top: 80%;
    width: 75vw;
    padding: 10px;
    display: flex;
}
h2 {
    text-align: center;
    color: #fff;
    font-size: 30px;
}
#message{
    flex: 1;
    height: 5vh;
    padding: 5px 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 20px;
    margin: 0 2vw;
}
#sendBtn {
    width: 10vw;
    font-size: 20px;
    border: 1px solid #fff;
    outline: none;
    background-color: #460087;
    color: #fff;
    border-radius: 20px;
}