{% extends 'base.html' %}
{% block body %}

<form action="" , method="post" id="formId">
    <h1>Enter Chat</h1>
    <div class="authentication">
        <input type="text" name="name" id="nameInput" placeholder="Enter Your Name..." value="{{name}}"
            autocomplete="off" />
    </div>
    <button type="submit" name="create" class="create-btn">Create a Room</button>
    <h3 id="or">Or</h3>
    <div class="roomCode">
        <input type="text" name="code" id="roomCode" placeholder="Enter Room Code..." value="{{code}}"
            autocomplete="off" />
        <button type="submit" name="join" class="joinroom">Join Room</button>
    </div>
    {% if error %}
    <ul>
        <li>{{error}}</li>
    </ul>
    {% endif %}
</form>
{% endblock %}
